@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #0A0A0A;
  background-image: url('../public/ellipse_1.svg'), url('../public/ellipse_2.svg');
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  min-height: 100vh;
}
